<div id="advertisement-1" style="max-width:350px"></div>
<script type="text/javascript">
nads.createAd('advertisement-1', {
  "floor": 0.05,
  "refreshLimit": 10,
  "refreshTime": 90,
  "adsenseSlot": "5793320764",
  "report": {
    "enabled": true,
    "wording": "Report Ad",
    "position": "fixed-bottom-right"
  }
});
</script>