<form action="/w/index.php">
<input name="search" placeholder="Search" title="Search PCGamingWiki [Alt+Shift+f]" accesskey="f" id="searchInput" autocomplete="off" type="search">
<input value="Special:Search" name="title" type="hidden">
</form>
