<a class="twitter-timeline"  href="https://twitter.com/PCGamingWiki" data-widget-id="243666422444720128">Tweets by @PCGamingWiki</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
